{% extends 'base.html' %}
{% block title %}PacePeek - Profile{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<h1>Welcome, {{user.name}}</h1>
{% if is_following %}
<button 
    type="button" 
    class="btn btn-success" 
    hx-get="/unfollow-{{ user.github_login }}" 
    title="Unfollow?"
    hx-swap="outerHTML">
    Following 
</button>
{% else %}
<button 
    type="button" 
    class="btn btn-primary" 
    hx-get="/follow-{{ user.github_login }}" 
    hx-swap="outerHTML">
    Follow
</button>
{% endif %}
{% else %}
<h1>{{user.username}} Profile</h1>
{% endif %}
<h2>Repositories being tracked:</h2>
<ul>
{% for repo in repos %}
<li><a href="https://github.com/{{repo.owner}}/{{repo.name}}">{{repo.name}}</a></li>
{% endfor %}
{% if user.is_authenticated %}
</ul>
<div id="add-repo-div">
    <button id="load-repos-btn" hx-get="/get-repos" hx-trigger="click" hx-target="#add-repo-div" hx-swap="outerHTML">
        Search New Repos
    </button>
</div>
{% endif %}
<h2>Recent Posts</h2>
<div>
    {% for post in posts %}
    <div class="post">
        <h2>{{user.username}} in Repo {{post.repo}}</h2>
        {{post.text}}
    </div>
        <h3>Commits:</h3>
        {% for commit in post.commits %}
        <div class="commit">
            <a href="{{commit.link}}">{{commit.sha}}</a>
        </div>
        {% endfor %}
    <br>
    <br>
    <br>
    {% endfor %}
</div>
{% endblock %}

